/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.endpoint {
	display: block;
}

.endpoint span {
	margin: 1px;
	padding: 3px;
}

.wp-mailchimp-url-preview {
	font-family: Consolas, Monaco, monospace;
	font-family: 11px;
	margin-left: 1rem;
}
